.enterprise {
  background: linear-gradient(180deg, #f7f7f7 0%, rgba(247, 247, 247, 0) 100%);
}

.enterprise__inner {
  padding: 52px 0px;
  text-align: center;
}

.enterprise__headtext {
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  color: #22343d;
}

.enterprise__title {
  margin-top: 16px;
  font-weight: 700;
  font-size: 34px;
  line-height: 51px;
  color: #22343d;
}

.enterprise__headline {
  margin-top: 8px;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: #22343d;
}

.enterprise__btn {
  display: inline-block;
  margin-top: 32px;
  padding: 11px 18px;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
  background: #02897a;
  border-radius: 8px;
}

@include max-width(576px) {
  .enterprise__inner {
    padding: 46px 0px;
  }

  .enterprise__title {
      margin-top: 24px;
    font-size: 32px;
    line-height: 48px;
  }

  .enterprise__headline{
      margin-top: 25px;
  }
}
